//generic
.section-title {
    position: relative;
  }
  
.section-title:after {
    content: '';
    width: 30px;
    height: 2px;
    background: #007bff;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: -20px;
  }
  
.feature .icon {
    border-radius: 50%;
    min-width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(33, 37, 41, 0.1), 0 7px 14px rgba(33, 37, 41, 0.1);
    font-size: 27px;
    margin: auto;
  }
  
.section {
    border-bottom: 1px solid #eaebed;
  }
  
.section-invert {
    background: #f9fafc;
  }
  
.testimonials .avatar {
    max-width: 80px;
    overflow: hidden;
  }

.bg-dark {
    color: $white;
    h1,h2,h3,h4,h5,h5,p,i {
        color: $white;
    }
}

//home
.janewilson-home .welcome {
    position: relative;
    height: 100vh;
    min-height: 700px;
    background: url("images/agency-landing/welcome-cover.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  
  .janewilson-home .welcome:before {
    position: absolute;
    z-index: 0;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #007bff;
  }
  
  @media (max-width: 767.98px) {
    .janewilson-home .welcome .inner-wrapper {
      text-align: center;
    }
  }
  
  @media (max-width: 400px) {
    .janewilson-home .welcome .welcome-heading {
      font-size: 2.415rem;
    }
  }  

//about
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
